<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleDisplayName</key>
	<string>Log X</string>
	<key>CFBundleName</key>
	<string>Log X</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSCameraUsageDescription</key>
	<string>Log X needs access to your camera.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Log X needs access to your workouts.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Log X needs access to your health data.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Log X needs access to your photos.</string>
	<key>UIAppFonts</key>
	<array>
		<string>A2Z-4Regular.ttf</string>
		<string>A2Z-7Bold.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
